---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/Hero.astro';
import AboutMe from '../components/WhoAmI.astro';
import Service from '../components/Service.astro';
import FeaturedProject from '../components/FeaturedProject.astro';
import Workflow from '../components/Workflow.astro';
import Testimonial from '../components/Testimonial.astro';
import CTASection from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Jasa Bikin Website">
  
  <Navbar />
  <div class="layout-container flex h-full grow flex-col relative z-10">
    <HeroSection />
    <AboutMe />
    <Service />
    <FeaturedProject />
    <Workflow />
    <Testimonial />
    <CTASection />
    <Footer />
  </div>

</Layout>
