---
import "../styles/global.css"; // <--- Import file CSS baru di sini
import "@fontsource-variable/manrope"; // Defaults to wght axis


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta name="title" content="Rizal Project - Web Development Specialist" />
		<meta name="description" content="Rizal Project offers professional Web Development and Landing Page services. Expert Freelance Web Developer in Indonesia for Company Profiles, E-commerce, and custom apps." />
		<meta name="keywords" content="Rizal Project, Freelance Web Developer, Web Development Specialist, Web Development Service, LandingPage Service, Company Profile Websites, Landing Page, Ecommerce Websites, Custom Application, Freelance Web Developer Indonesia" />
		<title>{title}</title>
	</head>
	<body
		class="bg-background-light dark:bg-background-dark text-[#111712] dark:text-white font-display overflow-x-hidden antialiased selection:bg-primary selection:text-background-dark"
	>
		<div
			class="relative flex h-auto min-h-screen w-full flex-col group/design-root"
		>
			<div
				class="fixed top-[-20%] right-[-10%] w-[800px] h-[800px] bg-primary/5 rounded-full blur-[120px] pointer-events-none z-0"
			>
			</div>
			<div
				class="fixed bottom-[-10%] left-[-10%] w-[600px] h-[600px] bg-primary/5 rounded-full blur-[100px] pointer-events-none z-0"
			>
			</div>

			<slot />
		</div>
		<script>
			import "../scripts/global.js";
		</script>
	</body>
</html>
